.nav {
    z-index: 99;
    background-color: transparent;
}

.card-deck>.card,
.card img {
    width: 10rem;
}

.card-deck>.card p {
    font-size: 10px;
}

.card-deck>.card {
    background-color: #35444B;
    color: white;
}

.carousel>.carousel-inner>.carousel-item>.carousel-caption {
    color: white;
}

.carousel-item img {
    opacity: 0.7;
}

.carousel-inner>.carousel-item>img {
    height: 90vh;
}

.carousel {
    margin-top: -55px;
}

.txt {
    color: white;
}

.carousel>.carousel-inner>.carousel-item>.carousel-caption>.whatsNew {
    color: white;
    width: 15rem;
    height: 5rem;
    font-size: 30px;
    border-color: white;
    margin-bottom: 200px;
}

.carousel>.carousel-inner>.carousel-item>.carousel-caption>button:hover {
    color: aliceblue;
    width: 16rem;
    height: 5rem;
    font-size: 35px;
}