div.gallery {

  border: 1px solid #ccc;
  float: left;
  width: 170px;
  }

div.gallery img {
  width: 100%;
  height: auto;
}

div.bottom{
padding: 260px;
line-height: 1.2;
font-size: 20px;
text-transform: capitalize;
text-shadow: 3px 2px Blue;
}

#outer-div {

      text-align: center;
      background-color: #00004d
      }
   #inner-div {
      display: inline-block;
      margin: 0 auto;
      padding: 3px;
      background-color: #ccccff
      }

body {
  color: #f1f1f1;
  height: 200px;
  background-image: url('http://www.joinindianarmy.nic.in/writereaddata/Portal/Template_ScriptBanner/Banner_1_1_imgpsh_fullsize__7_.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}